/*  Mocha color palete */

@define-color bg          #2e3440;
@define-color bg_alt      #3b4252;
@define-color selection   #434c5e;
@define-color cursorline  #434c5e;
@define-color border      #434c5e;

@define-color fg          #eceff4;
@define-color fg_dim      #e5e9f0;
@define-color comment     #d8dee9;

@define-color red         #bf616a;
@define-color orange      #d08770;
@define-color yellow      #ebcb8b;
@define-color green       #a3be8c;
@define-color cyan        #88c0d0;
@define-color blue        #81a1c1;
@define-color purple      #b48ead;
@define-color magenta     #b48ead;

/* Diagnostics */
@define-color error       #bf616a;
@define-color warning     #ebcb8b;
@define-color info        #a3be8c;
@define-color hint        #b48ead;
