@define-color bg          #282828;
@define-color bg_alt      #3c3836;
@define-color selection   #a89984;
@define-color cursorline  #928374;
@define-color border      #1d2021;

@define-color fg          #ebdbb2;
@define-color fg_dim      #ebdbb2;
@define-color comment     #a89984;

@define-color red         #cc241d;
@define-color orange      #fe8019;
@define-color yellow      #fabd2f;
@define-color green       #b8bb26;
@define-color cyan        #83a598;
@define-color blue        #458588;
@define-color purple      #b16286;
@define-color magenta     #d3869b;

/* Diagnostics */
@define-color error       #fb4934;
@define-color warning     #d79921;
@define-color info        #98971a;
@define-color hint        #d65d0e;
