@define-color bg          #272e33;
@define-color bg_alt      #2e383c;
@define-color selection   #d3c6aa;
@define-color cursorline  #d3c6aa;
@define-color border      #1e2826;

@define-color fg          #d3c6aa;
@define-color fg_dim      #d3c6aa;
@define-color comment     #7a8478;

@define-color red         #e67380;
@define-color orange      #369875;
@define-color yellow      #dbbc7f;
@define-color green       #a7c080;
@define-color cyan        #83c092;
@define-color blue        #7fbbb3;
@define-color purple      #d699b6;
@define-color magenta     #d699b6;

/* Diagnostics */
@define-color error       #467e80;
@define-color warning     #a7c080;
@define-color info        #45443c;
@define-color hint        #3c4841;
