@import "colors/colors.css";

label.module {
    padding: 5 10px;
}

window#waybar {
    background: @bg;
    color: @fg;
}

/* workspaces */

#workspaces {
  background-color: transparent;
  border-radius: 15px;
  padding: 2px 10px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 6px;
  background-color: transparent; 
  color: #cdd6f4;
}

#workspaces button.active {
  color: @fg;
  background-color: @selection;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @fg;
  background-color: @selection;
}

#workspaces button.urgent {
  background-color: @error;
}

/* dynamic island */

.modules-right {
  border-radius: 0 0 0 10px;
  background: @bg_alt;
  padding: 1px 6px;
}

#waybar.empty .modules-center {
    opacity: 0;
}

.modules-left {
  border-radius: 0 0 10px 0;
  background: @bg_alt;
  padding: 1px 6px;
}

/* base module configurations */

#clock {
  all: initial;
  min-width: 0;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 6px;
  background-color: @selection;
  color: @fg;
}

#custom-notification {
  color: @purple;
}
#load {
  color: @blue;
}
#memory {
  color: @green;
}
#backlight {
  color: @yellow;
}
#wireplumber {
  color: @cyan;
}
#network {
  color: @orange;
}
#window {
  padding: 6px 18px;
  border-radius: 0 0 10px 10px;
  color: @fg;
  background-color: @bg_alt;
}

/* tooltip */

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @bg;
}

tooltip label {
  padding: 5px;
  background-color: @bg;
}
