@import "colors/colors.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

.modules-center {
  background: @bg;
  padding: 1px 6px;
  border-radius: 28px;
}

window#waybar {
  background: transparent;
  border-radius: 15px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: @bg;
  border-radius: 28px;
  padding: 1px 10px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 1px 18px;
  margin: 6px 3px;
  border-radius: 6px;
  background-color: @bg_alt;
  color: #cdd6f4;
}

#workspaces button.active {
  color: @bg_alt;
  background-color: @selection;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @fg;
  background-color: @selection;
}

#workspaces button.urgent {
  background-color: @error;
}

#custom-logo,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock {
  border-radius: 0px;
  margin: 6px 3px;
  padding: 6px 6px;
  background-color: @bg;
  color: @cursorline;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  color: @megenta;
}

#memory {
  color: @red;
}

#battery {
  color: @orange;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #FFFF00;
}

#battery.charging {
  color: #181825;
}

#backlight {
  color: @green;
}

#wireplumber {
  color: @yellow;
}

#network {
  color: @green;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  color: @blue;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @bg;
}

tooltip label {
  padding: 5px;
  background-color: @bg;
}
#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  border-radius: 15px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: transparent;
  color: @purple;
}
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
}
